<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue js</title>
    <style>
        .demo {
            width: 100px;
            height: 100px;
            background-color: gray;
            display: inline-block;
            margin: 10px;
        }

        .blue {
            background-color: blue;
        }

        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }
    </style>
</head>
<body>

    <div id="app_v2">
        <div 
            class="demo" 
            @click="attachRed = !attachRed"
            :class="divClasses"></div>
        <div class="demo" :class="{red: attachRed}"></div>
        <div class="demo" :class="[color, {red: attachRed}]"></div>
        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="myStyle"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
    </div>
    
    <script src="./vue.js"></script>
    <script src="./index.js"></script>
</body>
</html>